Repository mozilla/rust-code-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, test

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check --verbose

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets --all -- -D warnings
  pass_filenames: false

test:
  name: test
  language: system
  entry: cargo test
  pass_filenames: false

Clean up and clarify script to check grammars
  check-grammar-crate.py
Due: none

Update script used to check if there are grammars updates
  check-grammars-crates.sh
Due: none

Remove submodules checker from CI
  .taskcluster.yml
Due: none

Remove script to update submodules
  update-submodule.sh
Due: none

Update script to recreate grammars
  recreate-grammars.sh
  update-language-bindings.sh
Due: none

Update script name to check grammars in CI
  .taskcluster.yml
Due: none

enums: Remove build.rs script
  enums/Cargo.toml
Due: none

Clean up build.rs file
  Cargo.toml
  build.rs
Due: fmt, clippy, test

enums: Update Cargo.lock
  enums/Cargo.lock
Due: none

Update Cargo.lock
  Cargo.lock
Due: none

Remove useless script to check submodules
  check-submodules.sh
Due: none

Pin tree-sitter lib and grammars
  Cargo.toml
  enums/Cargo.toml
  tree-sitter-ccomment/Cargo.toml
  tree-sitter-mozcpp/Cargo.toml
  tree-sitter-mozjs/Cargo.toml
  tree-sitter-preproc/Cargo.toml
Due: none

Pin tree-sitter lib and grammars (#595)
  Cargo.toml
  enums/Cargo.toml
  tree-sitter-ccomment/Cargo.toml
  tree-sitter-mozcpp/Cargo.toml
  tree-sitter-mozjs/Cargo.toml
  tree-sitter-preproc/Cargo.toml
Due: none

enums: Use the Into trait generated by the From trait
  enums/templates/rust.rs
  src/languages/language_ccomment.rs
  src/languages/language_cpp.rs
  src/languages/language_java.rs
  src/languages/language_javascript.rs
  src/languages/language_mozjs.rs
  src/languages/language_preproc.rs
  src/languages/language_python.rs
  src/languages/language_rust.rs
  src/languages/language_tsx.rs
  src/languages/language_typescript.rs
  src/languages/mod.rs
Due: fmt, clippy, test

enums: Fix clippy lints
  enums/src/common.rs
  enums/src/go.rs
  enums/src/json.rs
  enums/src/macros.rs
  enums/src/rust.rs
Due: fmt, clippy, test

enums: Start the loop from 0 in Rust template
  enums/templates/rust.rs
Due: clippy, test

enums: Do not export macros
  enums/src/macros.rs
Due: fmt, clippy, test

Get sha1 commit from tree-sitter-cpp crate for mozcpp
  generate-grammars/generate-mozcpp.sh
Due: none

Get sha1 commit from tree-sitter-javascript crate for mozjs
  generate-grammars/generate-mozjs.sh
Due: none

Use the recreate grammars script to generate grammars
  generate-grammars/generate-grammar.sh
Due: none

Clarify the script to recreate the grammars
  recreate-grammars.sh
Due: none

dependabot: Do not notify submodules updates anymore
  .github/dependabot.yml
Due: none

Path conditions:
  fmt: any of: \.rs$, but not: .*/templates/.*\.rs$
  clippy: any of: \.rs$
  test: any of: \.rs$
